<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newBeauty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45FE73AA200899B3008B5000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45FE73C2200899B3008B5000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45FE73CD200899B4008B5000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
